body {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.02em;
}

h1 {
    margin-top: 196px;
}

h3 {
    font-size: 25px;
    line-height: 140%;
    margin-bottom: 46px;
}

article {
    margin: 120px 0px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.article_img {
    width: 25vw;
    float: right;
}

.article_img img {
    width: 100%;
}

.content {
    flex: 1;
    flex-wrap: wrap;
}

.pd-left {
    padding-left: 8vw;
}

.pd-right {
    padding-right: 8vw;
}