body {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.02em;
}

h1 {
    margin-top: 196px;
}

h3 {
    font-size: 25px;
    line-height: 140%;
    margin-bottom: 46px;
}

article {
    margin: 120px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4vw;

}

.article_img {
    width: 25vw;
}

.article_img img {
    width: 100%;
}

.content {
    flex: 1;
    flex-wrap: wrap;
}

.link-button {
    text-align: center;
    justify-items: center;
    justify-content: center;
    padding: 0px 20px 130px 20px;
}

.link-button a {
    display: inline-block;
    background-color: #6E9C9F;
    color: white;
    font-weight: 400;
    padding: 22px 50px;
}

.link-button a:hover {
    background-color: #4c9fa5;
}