

.form1 {
    /*position: fixed;*/
    width: 300px;
    height: 350px;
    border: 1px solid #000000;
    text-align: center;

}

h4 {
    margin: 50px 0 40px 0;

}

.form1 input {
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    border-bottom: 1.5px solid #000000;
    padding: 10px 0 10px 0;
    outline: none;
}

::placeholder {
    font-size: 14px;
}

.contact-info {
    
    padding: 0 45px 0 45px;
}

.send1 {
    width: 210px;
    height: 47px;
    background-color: #6E9C9F;
    border: none;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-top: 40px;

}
.send1:hover {
    opacity: 0.9;
}

.btn-close {
    position: absolute;
    /*right: 20px;
    top: 20px;*/
    border: none;
    background: none;
    opacity: 0.7;
}
.btn-close:hover {
    opacity: 1;
}