:root {
    --aside-height: 80vh;
    /*Для широких экранов*/
    --aside-width: 42vw;
}


aside {
    z-index: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    width: var(--aside-width);
    height: var(--aside-height);
    background-color: #F1EADC;
}

.two-sliders-container * {
    outline: 1px solid blue;
}

.two-sliders-container {
    position: relative;
    width: 100%;
    height: calc(var(--aside-height) - 150px);
    display: flex;
    justify-content: center;
}

.text-slider-container {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 1;
}


.text-slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-slider-content-info {
    width: 70%;
    font-size: 20px;
    text-align: right;
}


.img-slider-container {
    width: 50%;
}