/*Стили большого экрана пропишем в переменных.
Для адаптивной вёрстки переопределим их в @media*/
:root {
    /*Высота заголовка привязана к ширине экрана*/
    --h1-font-size: 3.5vw;

    /*Переменные габаритов боковой панели. Декоративные функции.*/
    --aside-height: 80vh;
    --aside-width: 42vw;

    /*-------------------------------*/
    /*Переменные габаритов  слайдера*/

    /*Смещение слайдера относительно панели навигации*/
    --slider-shift-top: 0px;
    /*Ширина контейнера с текстом-описанием слайдера*/
    --slider-content-info-width: 73%;
    --slider-content-info-font-size: 20px;
    /*Абсолютный сдвиг высоты изображения относительно высоты декоративной панели.
    Чем больше сдвиг, тем меньше изображение (больше расстояние до границ декоративной панели)*/
    --img-height-shift: 15vh;
    /*Ширина слайдера с изображением*/
    --img-slider-container-width: 50%;
    /*Ширина слайдера с текстом*/
    --text-slider-container-width: 50%;

}


h1 {
    font-size: var(--h1-font-size);
}

aside {
    z-index: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    width: var(--aside-width);
    height: var(--aside-height);
    background-color: #F1EADC;
}


.two-sliders-container {
    position: relative;
    top: var(--slider-shift-top);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-slider-container {
    width: var(--text-slider-container-width);
    flex-grow: 0;
    flex-shrink: 1;

    /*Настройки контейнера для блока текст-слайдера и кнопки "В магазин" */
    display: flex;
    flex-direction: column;

}


.text-slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-slider-content-info {
    width: var(--slider-content-info-width);
    font-size: var(--slider-content-info-font-size);
    text-align: right;
}


.img-slider-container {
    width: var(--img-slider-container-width);
}

.img-slider-contant {
    text-align: right;
    float: right;
}

.img-slider-contant img {
    object-fit: contain;
    max-height: calc(var(--aside-height) - var(--img-height-shift));
    width: 100%;
    /*Ставим маленький padding, чтобы скрыть артефакты от спрятанного изображения*/
    padding-right: 2px;

}

.to_shop {
    text-align: center;
    display: inline-block;
    align-self: center;
    margin: 52px auto 20px auto;
}

.to_shop div {
    padding: 22px 50px;
    max-width: 245px;
    background-color: #6E9C9F;
    color: white;
}

main {
    position: relative;
    top: var(--slider-shift-top);
}



@media screen and (max-width: 1350px) {


    :root {
        /*Высота заголовка привязана к ширине экрана*/
        --h1-font-size: 3.5vw;

        /*Переменные габаритов боковой панели. Декоративные функции.*/
        --aside-height: 60vh;
        --aside-width: 42vw;
        --slider-content-info-width: 90%;
        --slider-content-info-font-size: 16px;
        --img-height-shift: 15vh;

    }

}

@media screen and (max-width: 720px) {


    :root {
        /*Высота заголовка привязана к ширине экрана*/
        --h1-font-size: 3.5vw;

        /*Переменные габаритов боковой панели. Декоративные функции.*/
        --aside-height: 50vh;
        --aside-width: 42vw;
        --slider-content-info-width: 95%;
        --slider-content-info-font-size: 14px;
        --img-height-shift: 12vh;
    }

}

@media screen and (max-width: 560px) {
    :root {
        --slider-content-info-font-size: 12px;
    }
}

@media screen and (max-width: 480px) {

    :root {
        --aside-width: 100vw;
        --img-slider-container-width: 100%;
        --text-slider-container-width: 100%;
        --h1-font-size: 20px;

    }


    /*Меняем структура проекта под мобильный экран*/
    .two-sliders-container {
        flex-direction: column-reverse;
    }

    .text-slider-content-info {
        text-align: left;
    }

    .img-slider-contant {
        text-align: center;
        float: none;
    }

}