@import url('normalize.css');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body {
    /*Шрифты для всего проекта*/
    font-family: 'Raleway', sans-serif;

    background: white;
    /*Поля проекта для широкоэкранного макета*/
    padding: 54px 250px 0px 250px;
}

a {
    text-decoration: none;
}

nav {
    display: grid;
    grid-template-columns: [start-logo] 145px [start-menu] 1fr [start-phone] 170px [start-basket] 40px;
    align-items: center;
    /*justify-items: center;*/
    gap: 10px;

    font-size: 15px;
}

.nav-logo {
    grid-column: start-logo/start-menu;
    justify-self: left;
}

.nav-bar * {
    outline: 1px solid blue;
}

.nav-bar {
    grid-column: start-menu/start-phone;
    justify-self: end;


    /*Необходимо добиться в десктопной версии ширины между элементами меню не более 45px.
    Это делаем на гридах*/
    display: grid;
    /*Фикс. ширина для элементов меню. Динамичная ширина - для полей*/
    grid-template-columns: 1fr 45px 1fr 45px 1fr 45px 1fr;
    justify-items: center;
    gap: 10px;
}

.nav-main,
.nav-shop,
.nav-brand,
.nav-contacts {
    /*Прописываем стили, общие для всех элементов меню*/
    white-space: nowrap;
}

.nav-main {
    grid-column: 1/2;
}

.nav-shop {
    grid-column: 3/4;
}

.nav-brand {
    grid-column: 5/6;
}

.nav-contacts {
    grid-column: 7/8;
}


/*---------------Стили телефонного номера-------------*/
.phone {
    padding: 5px;
    border: 1px solid red;
    line-height: 1em;
}

.phone img {
    float: left;
}

.phone span {
    padding-left: 15px;
}


/*-------------------СТИЛИ ЛОГОТИПА-------------------*/
.logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.logo img {
    margin-right: 15px;
}

/*------------------------------------------------------*/






@media screen and (max-width: 1350px) {

    /*Ширина, при которой разметка меню из figma больше не поддерживается. Делаем динамичные поля в body
Освобождаем место под меню в панели навигатора*/
    body {

        padding-left: 3vw;
        padding-right: 3vw;
    }

}


@media screen and (max-width: 900px) {

    /*Контрольная точка. Ниже этой ширины вёрстка меню разметкой Figma не поддерживается. Переопределяем grid*/
    .nav-bar {
        grid-template-columns: 55px 1fr 55px 1fr 55px 1fr 55px;
        justify-self: normal;
    }
}

@media screen and (max-width: 480px) {

    /*Экран мобилки*/
    body {
        /*Оставляем минимальные поля*/
        padding-left: 5px;
        padding-right: 5px;
    }
}