html,
body {
    background-color: #fff;
}

h1 {
    margin-top: 196px;
}

header {
    font-weight: 500;
    margin-bottom: 214px;

}

.curr-page-position {
    display: inline;
    font-size: 17px;
    color: #919191;
}

.categories {
    display: flex;
    justify-content: space-between;
    margin-top: 92px;
    margin-bottom: 92px;
    width: 100%;

}

.categ_name {
    text-align: center;
    border: 1px solid black;
    margin: 20px 10px;
    flex: 1;
    padding-top: 19px;
    padding-bottom: 19px;
}

#cat_all {
    margin-left: 0px;
}

.cat_selected {
    background-color: black;
    color: white;
}


.counter_panel {
    color: #808080;
    margin-top: 70px;
    margin-bottom: 70px;
}

.item_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.figure {
    width: 32%;
    /*margin-bottom: 50px;*/
    padding-bottom: 50px;

}

figure {
    padding: 0px 0px 0px 0px;
    margin: 0px;
}


figcaption {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
}

figure img {
    width: 100%;


}

.card-background:hover {
    display: block;
    background-color: #6E9C9F;
}

figure img:hover {
    opacity: 64%;
}

.price {
    text-align: center;
}

.old_price {
    display: inline;
    color: #9C9C9C;
    text-decoration: line-through;
}

.new_price {
    display: inline;
    color: #998E78;
}


@media screen and (max-width: 1350px) {
    .categ_name {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 720px) {
    h1 {
        margin-top: 50px;
    }

    header {
        margin-bottom: 100px;
    }

    figure {
        width: 48%;
    }
}


@media screen and (max-width: 480px) {

    /*Стили маленьких экранов*/
    h1 {
        margin-top: 30px;
    }

    header {
        margin-bottom: 30px;
    }


    .categ_name {
        margin: 10px 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    figure {
        padding: 0px 0px 20px 0px;
        margin: 0px 0px 20px 0px;
        width: 100%;
    }
}